ENV["SPOTIFY-CLIENT-ID"] = "YOUR ID HERE"
ENV["SPOTIFY-CLIENT-SECRET"] = "YOUR SECRET HERE"

ENV["YOUTUBE-API-KEY"] = "YOUR API KEY HERE"

ENV["DISCOGS-USER-AGENT-STRING"] = "YOUR USER AGENT STRING HERE"
ENV["DISCOGS-USER-TOKEN"] = "YOUR USER TOKEN HERE"
ENV["DISCOGS-CLIENT-KEY"] = "YOUR CLIENT KEY HERE"
ENV["DISCOGS-CLIENT-SECRET"] = "YOUR CLIENT SECRET HERE"

ENV["MUSICBRAINZ-USER-AGENT-STRING"] = "YOUR USER AGENT STRING HERE"